<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AllowInsecureHttp" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="client_secret" value="__DEV_ONLY_USE_ENV__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="cCon" connectionString="Server=__DEV_SQL_HOST__;Database=db_9c7990_puntoventadev;User Id=__DEV_SQL_USER__;Password=__DEV_SQL_PASSWORD__;Encrypt=True;TrustServerCertificate=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
