<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUriWebApi" value="http://localhost:5102/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="client_secret" value="__DEV_ONLY_USE_USER_SECRETS_OR_ENV__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
