<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AllowInsecureHttp" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="client_secret" value="__INJECT_AT_DEPLOYMENT__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="cCon" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
